/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind screens;*/
/*@tailwind utilities;*/




.dropzone {
    text-align: center;
    padding: 125px;
    border: 3px dashed #eeeeee;
    background-color: #fafafa;
    color: #bdbdbd;
    cursor: pointer;
    margin-bottom: 40px;
}

.selected-file-wrapper {
    text-align: center;
}

.selected-file {
    color: #000;
    font-weight: bold;
}

.btn {
    width: 50%;
    height: 50px;
}

.styled-table {
    border-collapse: collapse;
    /*margin: 25px 0;*/
    /*margin-left: 2%;*/
    font-size: 0.9em;
    font-family: sans-serif;
    /*min-width: 700px;*/
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


/** {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    box-sizing: border-box;*/
/*}*/


/*.app {*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-size: 40px;*/
/*}*/

/*.drop-area {*/
/*    width: 80vw;*/
/*    height: 80vh;*/
/*    border: 5px dashed black;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/


/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

.578
_574 {
    overflow: hidden;
}



.e578_574 {
    width: 1049px;
    height: 321px;
    position: absolute;
}

.e575_421 {
    background-color: rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
    width: 1049px;
    height: 321px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.e577_441 {
    color: rgba(55.00000052154064, 71.00000336766243, 84.00000259280205, 1);
    width: 515px;
    height: 46px;
    position: absolute;
    left: 373px;
    top: 78px;
    /*font-family: Roboto;*/
    text-align: left;
    font-size: 20px;
    letter-spacing: 0.20000000298023224;
}

.e578_473 {
    color: rgba(55.00000052154064, 71.00000336766243, 84.00000259280205, 1);
    width: 150px;
    height: 23px;
    position: absolute;
    left: 373px;
    top: 209.23291015625px;
    /*font-family: Roboto;*/
    text-align: left;
    font-size: 20px;
    letter-spacing: 0.20000000298023224;
}

.e578_526 {
    color: rgba(55.00000052154064, 71.00000336766243, 84.00000259280205, 1);
    width: 150px;
    height: 23px;
    position: absolute;
    left: 373px;
    top: 252px;
    /*font-family: Roboto;*/
    text-align: left;
    font-size: 20px;
    letter-spacing: 0.20000000298023224;
}

.e578_474 {
    color: rgba(55.00000052154064, 71.00000336766243, 84.00000259280205, 1);
    width: 341px;
    height: 23px;
    position: absolute;
    left: 547px;
    top: 209.23291015625px;
    /*font-family: Roboto;*/
    text-align: left;
    font-size: 20px;
    letter-spacing: 0.20000000298023224;
}

.e578_527 {
    color: rgba(55.00000052154064, 71.00000336766243, 84.00000259280205, 1);
    width: 178px;
    height: 23px;
    position: absolute;
    left: 547px;
    top: 252px;
    /*font-family: Roboto;*/
    text-align: left;
    font-size: 20px;
    letter-spacing: 0.20000000298023224;
}

.e578_499 {
    width: 614.001708984375px;
    height: 35.23291015625px;
    position: absolute;
    left: 373px;
    top: 147px;
}

.e577_443 {
    color: rgba(55.00000052154064, 71.00000336766243, 84.00000259280205, 1);
    width: 150px;
    height: 23px;
    position: absolute;
    left: 0px;
    top: 6px;
    /*font-family: Roboto;*/
    text-align: left;
    font-size: 20px;
    letter-spacing: 0.20000000298023224;
}

.e578_444 {
    width: 440.0016784667969px;
    height: 35.23291015625px;
    position: absolute;
    left: 174px;
    top: 0px;
}

.e577_442 {
    width: 136.83425903320312px;
    height: 35.23277282714844px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e575_423 {
    background-color: rgba(40.00000141561031, 167.00000524520874, 69.00000348687172, 0.699999988079071);
    width: 136.83425903320312px;
    height: 35.23277282714844px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 8.193668365478516px;
    border-top-right-radius: 8.193668365478516px;
    border-bottom-left-radius: 8.193668365478516px;
    border-bottom-right-radius: 8.193668365478516px;
}

.e575_422 {
    color: rgba(255, 255, 255, 1);
    width: 94.932861328125px;
    height: 18.026071548461914px;
    position: absolute;
    left: 20.948265075683594px;
    top: 8.19373607635498px;
    /*font-family: Roboto;*/
    text-align: center;
    font-size: 15.567970275878906px;
    letter-spacing: 0.16387337446212769;
}

.e577_429 {
    width: 136.83425903320312px;
    height: 35.23277282714844px;
    position: absolute;
    left: 151.58287048339844px;
    top: 0.000067741064412985px;
}

.e577_430 {
    background-color: rgba(40.00000141561031, 167.00000524520874, 69.00000348687172, 0.699999988079071);
    width: 136.83425903320312px;
    height: 35.23277282714844px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 8.193668365478516px;
    border-top-right-radius: 8.193668365478516px;
    border-bottom-left-radius: 8.193668365478516px;
    border-bottom-right-radius: 8.193668365478516px;
}

.e577_431 {
    color: rgba(255, 255, 255, 1);
    width: 107.3370590209961px;
    height: 18.026071548461914px;
    position: absolute;
    left: 14.74944019317627px;
    top: 8.19373607635498px;
    /*font-family: Roboto;*/
    text-align: center;
    font-size: 15.567970275878906px;
    letter-spacing: 0.16387337446212769;
}

.e577_435 {
    width: 136.83425903320312px;
    height: 35.23277282714844px;
    position: absolute;
    left: 303.16741943359375px;
    top: 0.00013548212882597px;
}

.e577_436 {
    background-color: rgba(40.00000141561031, 167.00000524520874, 69.00000348687172, 0.699999988079071);
    width: 136.83425903320312px;
    height: 35.23277282714844px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 8.193668365478516px;
    border-top-right-radius: 8.193668365478516px;
    border-bottom-left-radius: 8.193668365478516px;
    border-bottom-right-radius: 8.193668365478516px;
}

.e577_437 {
    color: rgba(255, 255, 255, 1);
    width: 107.3370590209961px;
    height: 18.026071548461914px;
    position: absolute;
    left: 14.75px;
    top: 8.193603515625px;
    /*font-family: Roboto;*/
    text-align: center;
    font-size: 15.567970275878906px;
    letter-spacing: 0.16387337446212769;
}

.e575_428 {
    color: rgba(55.00000052154064, 71.00000336766243, 84.00000259280205, 1);
    width: 339px;
    height: 33px;
    position: absolute;
    left: 355px;
    top: 19px;
    /*font-family: Roboto;*/
    text-align: center;
    font-size: 28px;
    letter-spacing: 0.20000000298023224;
}

.e578_498 {
    width: 269px;
    height: 202.03875732421875px;
    position: absolute;
    left: 43px;
    top: 68px;
}

.e577_440 {
    color: rgba(40.00000141561031, 167.00000524520874, 69.00000348687172, 1);
    width: 255.1459197998047px;
    height: 24.2446346282959px;
    position: absolute;
    left: 6.926161289215088px;
    top: 177.79412841796875px;
    /*font-family: Roboto;*/
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.10000000149011612;
}

.e577_434 {
    width: 269px;
    height: 163.93991088867188px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /*background-image: url(images/______________2021_10_17___01_04_1.png);!**!*/
    background-repeat: no-repeat;
    background-size: cover;
}


.575_417 {
	overflow:hidden;
	border:1.3502825498580933px solid rgba(0, 0, 0, 1);
}
.e575_417 {
	background-color:rgba(239.0625, 239.0625, 239.0625, 1);
	width:829px;
	height:359px;
	position:absolute;
}
.e575_412 {
	color:rgba(55.00000052154064, 71.00000336766243, 84.00000259280205, 0.44999998807907104);
	width:536.0145874023438px;
	height:157.9599609375px;
	position:absolute;
	left:145.8165740966797px;
	top:101.4124526977539px;
	/*font-family:Roboto;*/
	text-align:center;
	font-size:25.65536880493164px;
	letter-spacing:0.27005651593208313;
}


.e578_446 {
	color:rgba(55.00000052154064, 71.00000336766243, 84.00000259280205, 1);
	width:711px;
	height:120.11614990234375px;
	/*font-family:Roboto;*/
	text-align:center;
	font-size:30px;
	letter-spacing:0.20000000298023224;
}







* {
    /*background-color: firebrick;*/
    /*--font-family-sans-serif: ;*/
    font-family: sans-serif;
}